* {
    box-sizing: border-box; 
    font-family: sans-serif;
}

body, html{
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    margin: auto;
    /* padding: 0; */
    border-radius: 15px;
    border: 1px solid;
    border-color: #43444b00;
    position: relative;
    /* margin: 0; */
}

p{
    margin: 0;
}

#main-header{
    /* background: rgb(223, 207, 207); */
    margin-bottom: 10px;
}

#header {
    /* padding-l: auto; */
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    width: 800px;
    /* margin: auto; */
    padding: 10px;
    /* left: 150px; */
    /* background: #3d4ecc; */
}

#mid {
    /* flex: 4; */
    display: flex;
    flex-direction: row;
    background-color: #A2A2A1FF;
    margin-top: 20px;
    /* margin: 20px; */
}

#blog {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 10px; 
    width: 100px;
    border: 5px solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: #195190FF;
}
/* #mid div{
    padding-left: 10px;
} */

#footer {
    flex: 1;
    background-color: rgb(69, 106, 148);
    height: 100px;
    width: 100%;
}


/* styling for the main header */

/* .cover-img {
    padding-bottom: -20px;
} */

.intro {
    flex: 1;
}

/* .cover-img{
    height: 60%;    
} */

#profile-pic{
    border: 5px solid;
    border-color: #00539CFF;
    height: 180px;
    /* width: 200px; */
    border-radius: 90px;
    /* margin-bottom: -400px; */
}

.intro {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 20px;
    margin-left: 50px;
    /* margin-right: 150px; */
    /* margin-left: 70px; */
}

#intro-header p{
    font-family: 'Calibri';
    font-weight: 10;
    font-size: 40px;
    margin: 0;
    border-bottom: 1px solid;
    border-color: #00539CFF;
}

#name {
    color: #00539CFF;
    font-family: Arial;
    /* font-size: 80px; */
    font-weight: bold;
}

#intro-body {
    flex: 1;
    font-size: 11px;
}

#introduction {
    margin-top: 20px;
}


/* Styling for the profile, articles-pane, and code-todo side */

/* .left-pane {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.code-todo-task {
    flex: 1;
} */
.right-pane {
    flex: 1;
    background-color: rgb(69, 106, 148);
    /* padding: 20px; */
    position: relative;
}

.projects {
    flex: 3;
    background-color: #F1F1F1 ;
    padding-left: 100px;
}


/* Projects pane styling */

.body-project .body-content {
    display: flex;
    flex-direction: column;
}

.project {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* padding-top: 0px; */
    padding: 15px;
    padding-left: 0;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: 30px;
    border-color: #195190FF;
}

.project-preview{
    height: 150px;
    width: 250px;
    /* border-radius: 20px; */
}

.project-details{
    flex: 1;
    /* display: flex; */
    /* flex-direction: column; */
    padding-left: 50px;
    margin: 0;
    border: 2px, solid;
    position:relative;
}

.project-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgb(68, 67, 67);

}

.project-description {
    font-size: 13px;
    line-height: 20px;
    height: 60px;
    margin-bottom: 5px;
    overflow: hidden;
    color: rgb(84, 84, 84);
}

.lang{
    font-size: 13px;
    font-weight: bold;
    color:rgb(68, 67, 67);
}

.lang-used{
    font-size: 11px;
    font-style: italic;
    font-weight: lighter;
}

.links{
    font-size: 12px;
    color: #195190FF;
    margin-top: 15px;
}

.links:hover{
    color: rgb(21, 109, 209);
}

.pre-link{
    font-size: 11px;
    color: rgb(84, 84, 84);
    /* position: absolute; */
    /* bottom: 0; */
    /* font-style: italic; */
}

.link-area{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 0;
    position: absolute ;
    bottom: 0px;
}

.link-area *{
    margin-right:5px;
}

.main-link{
    padding-left: 5px;
    border: 1px solid;
    border-color: #195190FF;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    position: relative;
    /* width: 160px; */
}

.pane-heading {
    font-size: 35px;
    color: #195190FF;
    margin: 30px;
    margin-left: 20px;
    margin-bottom: 20px;

}

/* BLOG Section */

.main-articles {
    display: flex;
    flex-direction: column;
    width: 100%
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;
}

.article {
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    margin: 20px;
    height: 420px;
    padding: 10px;
    /* padding-bottom: 10px; */
}

.article-img{
    width: 100%;
    height: 100px;
    /* padding: 5px; */
    padding-bottom: 0;
    border: 1px solid;
    border-color: #ADADAD;
}

.article-title{
    color: #195190FF;
    font-size: 20px;
    margin-bottom: 10px;
}

.article-details {
    padding: 5px;
    padding-bottom: 0px;
}

.published-date {
    font-size: 12px;
    color: #ADADAD;    
    /* margin: auto; */
    border: 4px solid;
    border-color: #195190FF;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    padding: 0 0 15px 0;
    width: 10   0px;   
}

.article-summary {
    padding-top: 15px;
    font-size: 12px;
    line-height: 20px;
    color: #43444b;
    /* border: 1px solid; */
    /* border-color: rgb(119, 119, 111); */
    /* border-top: 0px;
    border-left: 0;
    border-right: 0; */
    padding-bottom: 30px;
}

.link-to {
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid;
    border-color: rgb(160, 160, 150);
    border-bottom: 0px;
    border-left: 0;
    border-right: 0;
    padding-top: 10px;
    font-size: 11px;
    font-style: italic;
    color:#43444b;
    text-align: left;    
}


/* Styling for Code snippet section */
.right-pane{
    position: relative;
}

#snippet-heading {
    color: #F1F1F1;
    /* pading-left: 0; */
}

.code {
    padding: 20px;
    padding-top: 15px;
}

#code-title{
    color: #F1F1F1;
    font-size: 14px;
}

#code-description{
    font-size: 11px;
    color: #d2d2d2;
    padding-left: 5px;
    /* margin-bottom: 30px; */
    /* background-color: #ADADAD; */
}

.code-body{
    border: 1px solid;
    border-left: 0;
    border-bottom: 0;
    border-color: #ADADAD;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    position: relative;
}

.equation {
    color: white;
    /* font-style: italic; */
}

.icon-container{
    padding-left: 3px;
    border: 1px solid;
    border-right: 0;
    border-top: 0;
    border-color: #ADADAD;
    /* position: absolute; */
    bottom: 0;
    margin-top: 10px;
    /* margin-bottom: 0; */
    width: 30px;
}

/* .icon{
    height: 40px;
    width: 40px;
} */


/* Styling for footer */

.footer-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 500px;
    /* height: 10px; */
    position: relative;
    top: 30%;
    /* padding-top: 40px; */
}

#contact {
    font-size: 18px;
    font-family: sans-serif;  
    padding-top: 10px;  
    margin-right: 10px;
}

.footer-container *{
    margin-right: 10px;
}

.contact-icon{
    height: 40px;
    width: 40px;
}

.contact-icon:hover{
    height: 45px;
    width: 45px;
}