* {
    box-sizing: border-box; 
}

body, html{
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    margin: auto;
    /* padding: 0; */
    border-radius: 15px;
    border: 1px solid;
    border-color: #43444b00;
    position: relative;
    /* margin: 0; */
}

p{
    margin: 0;
}

#main-header{
    /* background: rgb(223, 207, 207); */
    margin-bottom: 10px;
}

#header {
    /* padding-l: auto; */
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    width: 800px;
    /* margin: auto; */
    padding: 10px;
    /* left: 150px; */
    /* background: #3d4ecc; */
}

#mid {
    /* flex: 4; */
    display: flex;
    flex-direction: row;
    background-color: #A2A2A1FF;
    /* margin: 20px; */
}

/* #mid div{
    padding-left: 10px;
} */

#footer {
    flex: 1;
    background-color: #9b9fae;
    height: 100px;
    width: 100%;
}


/* styling for the main header */

/* .cover-img {
    padding-bottom: -20px;
} */

.intro {
    flex: 1;
}

/* .cover-img{
    height: 60%;    
} */

#profile-pic{
    border: 5px solid;
    border-color: #00539CFF;
    height: 180px;
    /* width: 200px; */
    border-radius: 90px;
    /* margin-bottom: -400px; */
}

.intro {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 20px;
    margin-left: 50px;
    /* margin-right: 150px; */
    /* margin-left: 70px; */
}

#intro-header p{
    font-family: 'Calibri';
    font-weight: 10;
    font-size: 40px;
    margin: 0;
    border-bottom: 1px solid;
    border-color: #00539CFF;
}

#name {
    color: #00539CFF;
    font-family: Arial;
    /* font-size: 80px; */
    font-weight: bold;
}

#intro-body {
    flex: 1;
    font-size: 11px;
}

#introduction {
    margin-top: 20px;
}


/* Styling for the profile, articles-pane, and code-todo side */

.left-pane {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.code-todo-task {
    flex: 1;
}

.projects {
    flex: 3;
    background-color: #F1F1F1 ;
    padding-left: 100px;
}


/* Projects pane styling */

.body-project .body-content {
    display: flex;
    flex-direction: column;
}

.project {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* padding-top: 0px; */
    padding: 15px;
    padding-left: 0;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: 30px;
    border-color: rgb(121, 120, 120);;
}

.project-preview{
    height: 150px;
    width: 250px;
    /* border-radius: 20px; */
}

.project-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin: 0;
    border: 2px, solid;
}

.project-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgb(68, 67, 67);

}

.project-description{
    font-size: 13px;
    line-height: 20px;
    color: rgb(84, 84, 84);
}

.links{
    font-size: 13px;
    color: #195190FF;
    margin-top: 15px;
}

.links:hover{
    color: rgb(21, 109, 209);
}

.pane-heading {
    font-size: 35px;
    color: #195190FF;
    margin: 30px;
    margin-left: 20px;
    margin-bottom: 20px;

}

.right-pane {
    flex: 1;
    background-color: rgb(69, 106, 148);
    padding-left: 5px;
}

#snippet-heading {
    color: rgb(221, 221, 209)
}


/* BLOG Section */

#blog {
    margin: auto;
    margin-top: 140px;
    margin-bottom: 70px;
    padding-bottom: 10px; 
    width: 100px;
    border: 5px solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: #195190FF;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;
}

.article {
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    margin: 20px;
    height: 420px;
    padding: 10px;
}

.article-img{
    width: 100%;
    height: 180px;
    padding: 5px;
    padding-bottom: 0;
}

.article-title{
    color: #195190FF;
    font-size: 20px;
    margin-bottom: 10px;
}

.article-details {
    padding: 5px;
}

.published-date {
    font-size: 12px;
    color: #ADADAD;    
    /* margin: auto; */
    border: 4px solid;
    border-color: #195190FF;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    padding: 0 0 15px 0;
    width: 80px;   
}

.article-summary {
    padding-top: 15px;
    font-size: 12px;
    line-height: 20px;
    color: #43444b;
    border: 1px solid;
    border-color: rgb(119, 119, 111);
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    padding-bottom: 30px;
}

.link-to {
    margin-top: 10px;
    font-size: 13px;
    font-style: italic;
    color:#43444b;
    text-align: right;    
}