* {
    box-sizing: border-box; 
    font-family: sans-serif;
    border-radius: 3px;
    
}

body, html{
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 1250px;
    height: 100%;
    margin: auto;
    border-radius: 15px;
    border: 1px solid;
    border-color: #43444b00;
    position: relative;
}

p{
    margin: 0;
}

#main-header{
    margin-bottom: 10px;
}

#header {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    width: 800px;
    padding: 10px;

}

#mid {
    display: flex;
    flex-direction: row;
    background-color: #A2A2A1FF;
    margin-top: 20px;
    margin: auto;
    width: 100%;
    /* margin-bottom: 30px; */
}

#blog {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 10px; 
    width: 100px;
    border: 5px solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: #195190FF;
}

#footer {
    /* flex: 1; */
    background-color: rgb(69, 106, 148);
    /* height: 250px; */
    width: 100%;
}

.intro {
    flex: 1;
}

#profile-pic{
    border: 5px solid;
    border-color: #00539CFF;
    height: 180px;
    border-radius: 90px;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 20px;
    margin-left: 50px;
}

#intro-header p{
    font-family: 'Calibri';
    font-weight: 10;
    font-size: 40px;
    margin: 0;
    border-bottom: 1px solid;
    border-color: #00539CFF;
}

#name {
    color: #00539CFF;
    font-family: Arial;
    font-weight: bold;
}

#intro-body {
    flex: 1;
    font-size: 11px;
}

#introduction {
    margin-top: 20px;
}


/* Styling for the profile, articles-pane, and code-todo side */
.right-pane {
    flex: 1;
    background-color: rgb(69, 106, 148);
    position: relative;
}

.projects {
    flex: 3;
    background-color: #F1F1F1 ;
    padding-left: 100px;
}


/* Projects pane styling */
.body-project .body-content {
    display: flex;
    flex-direction: column;
}

.project {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-left: 0;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: 30px;
    border-color: #195190FF;
    max-height: 180px;
}

.project-preview{
    height: 150px;
    width: 250px;
    border-radius: 5px;
}

.project-details{
    flex: 1;
    padding-left: 50px;
    margin: 0;
    border: 2px, solid;
    position:relative;
}

.project-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgb(68, 67, 67);

}

.project-description {
    font-size: 13px;
    line-height: 20px;
    height: 60px;
    margin-bottom: 5px;
    overflow: hidden;
    color: rgb(84, 84, 84);
}

.lang{
    font-size: 13px;
    font-weight: bold;
    color:rgb(68, 67, 67);
}

.lang-used{
    font-size: 11px;
    font-style: italic;
    font-weight: lighter;
}

.links{
    font-size: 12px;
    color: #195190FF;
    margin-top: 15px;
}

.links:hover{
    color: rgb(21, 109, 209);
}

.pre-link{
    font-size: 11px;
    color: rgb(84, 84, 84);
}

.link-area{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 0;
    position: absolute ;
    bottom: 0px;
    max-height: 28px;
}

.icon:hover{
    height: 28px;
    width: 28px;
    margin-right: 0px; 
}


.link-area *{
    margin-right:5px;
}

.main-link{
    padding-left: 5px;
    border: 1px solid;
    border-color: #195190FF;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    position: relative;
}

.pane-heading {
    font-size: 35px;
    color: #195190FF;
    margin: 30px;
    margin-left: 20px;
    margin-bottom: 20px;

}



/* Styling for Code snippet section */
.right-pane{
    position: relative;
}

#snippet-heading {
    color: #F1F1F1;
}

.code {
    padding: 20px;
    padding-top: 15px;
}

#code-title{
    color: #F1F1F1;
    font-size: 14px;
}

#code-description{
    font-size: 11px;
    color: #d2d2d2;
    padding-left: 5px;
}

.code-body{
    border: 1px solid;
    border-left: 0;
    border-bottom: 0;
    border-color: #ADADAD;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    position: relative;
}

.equation {
    color: white;
}

.icon-container{
    padding-left: 3px;
    border: 1px solid;
    border-right: 0;
    border-top: 0;
    border-color: #ADADAD;
    bottom: 0;
    margin-top: 10px;
    width: 30px;
}


/* BLOG Section */
.article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    background-color: #195190FF;
    /* height: 500px; */
    padding: 30px;
}

.article > div {
    padding: 10px;
}

.article > div * {
    margin-bottom: 5px;
}
.articlePreviewImg {
    margin: auto 0;
    height: 200px;
    width: 100%;
}

.articleTitle {
    color: #F1F1F1;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-bottom: 5px;
}

.dateAndClick{
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: 14px;
} 

.left {
    flex:1;
    display:flex;
    flex-direction: row;
}

.blogIcon{
    /* padding-top: 3px; */
    height: 14px;
    width: 14px;
    float: left;
    margin-right: 5px;
}

.publishedDate {
    /* flex: 1; */
    color: #ADADAD;
    margin: 0px;
    padding: 0
}

.articleLink {
    flex: 1;
    text-align: right;
    color: #A2A2A1FF;
    font-size: 12px;
    font-style: italic;
}

/* Styling for footer */
.footer-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 550px;
    position: relative;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
    /* margin: auto auto; */
    /* top: 30%; */
}

#contact {
    font-size: 20px;
    font-family: sans-serif;   
    margin-right: 20px;
}

.footer-container *{
    margin-right: 10px;
}

.contact-icon{
    height: 40px;
    width: 40px;
}

.contact-icon:hover{
    height: 45px;
    width: 45px;
}